* {
  margin: 0;
  padding: 0;
  outline: 0; }

a,
a:hover {
  text-decoration: none; }

ul,
ol {
  list-style-type: none;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  height: auto;
  max-width: 100%; }

.perloader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  .perloader #load {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }

.back-top {
  right: 30px;
  bottom: 30px;
  position: fixed;
  z-index: 999; }
  .back-top i {
    width: 50px;
    height: 50px;
    background: #473553;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff; }

.bg {
  -webkit-animation: menu 2s;
          animation: menu 2s; }

@-webkit-keyframes menu {
  from {
    top: -100px; }
  to {
    top: 0px; } }

@keyframes menu {
  from {
    top: -100px; }
  to {
    top: 0px; } }
.navbar {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  -webkit-transition: all linear .3s;
  transition: all linear .3s; }

.navbar-light .navbar-nav .nav-link {
  color: #252525;
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all linear .3s;
  transition: all linear .3s; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: red; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 0 0 30px; }

#banner {
  padding-top: 218px;
  padding-bottom: 80px;
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #banner .banner-text h3 {
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    position: relative; }
    #banner .banner-text h3:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 600px;
      background: #15a4fa;
      bottom: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  #banner .banner-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-top: 35px;
    padding-bottom: 60px; }
  #banner .banner-text .banner-btn a {
    padding: 20px 33px;
    background: none;
    border: 1px solid #15a4fa;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    display: inline-block; }
  #banner .banner-text i {
    font-size: 15px;
    color: #fff;
    padding-top: 177px; }

#design {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f6f9f9; }
  #design .design-text h3 {
    color: #2d3950;
    font-size: 40px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 20px; }
  #design .design-text p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    line-height: 32px; }

#service {
  padding-top: 65px;
  padding-bottom: 65px; }
  #service .service-item i {
    height: 100px;
    width: 100px;
    background: -webkit-gradient(linear, left top, right top, from(#48baff), to(#5fc3ff));
    background: linear-gradient(to right, #48baff, #5fc3ff);
    color: #fff;
    font-size: 50px;
    line-height: 100px; }
  #service .service-item h3 {
    color: #2d3950;
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 15px;
    padding-top: 30px; }
  #service .service-item p {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    line-height: 22px; }

#pro {
  padding-top: 80px;
  padding-bottom: 115px;
  background: #f6f9f9; }
  #pro .pro-text h3 {
    color: #2d3950;
    font-size: 41px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 5px; }
  #pro .pro-text p {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 75px; }
  #pro .pro-item {
    position: relative;
    -webkit-transition: all linear .3s;
    transition: all linear .3s; }
    #pro .pro-item:hover .pro-overly {
      opacity: 1; }
    #pro .pro-item .pro-overly {
      background: rgba(21, 164, 250, 0.8);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0;
      -webkit-transition: all linear .3s;
      transition: all linear .3s; }
      #pro .pro-item .pro-overly .overly-icon {
        margin-right: 10px;
        float: left;
        position: relative;
        top: 50%;
        left: 60%;
        -webkit-transform: translate(-50%, -60%);
                transform: translate(-50%, -60%);
        height: 40px;
        width: 40px;
        border: 1px solid #fff;
        border-radius: 5px; }
        #pro .pro-item .pro-overly .overly-icon i {
          font-size: 20px;
          color: #fff;
          line-height: 40px; }

#form {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/form.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #form .form-text h3 {
    color: #fff;
    font-size: 41px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 15px; }
  #form .form-text p {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-bottom: 35px; }
  #form .client-frm {
    width: 100%;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
    background: none;
    padding-left: 15px; }
  #form form button {
    border: 1px solid #15a4fa;
    background: none;
    padding: 15px 45px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    margin-left: 79%; }
  #form .form-check {
    margin-top: -20px;
    color: #999999; }

#fooder {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f6f9f9; }
  #fooder .fooder-text p {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    line-height: 40px; }
  #fooder .fooder-icon i {
    font-size: 40px;
    color: #15a4fa; }

/*# sourceMappingURL=style.css.map */